vim.g.clipboard = {
    name = "Clipboard",
    copy = {
        {{- if eq .chezmoi.os "linux" }}
        ["+"] = "xsel --clipboard",
        ["*"] = "xsel --clipboard",
        {{-  if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        ["+"] = "win32yank.exe -i",
        ["*"] = "win32yank.exe -i",
        {{-  end }}
        {{- end }}
    },
    paste = {
        {{- if eq .chezmoi.os "linux" }}
        ["+"] = "xsel --clipboard",
        ["*"] = "xsel --clipboard",
        {{-  if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        ["+"] = "pwsh.exe -c [Console]::Out.Write($(Get-Clipboard -Raw).tostring().replace('`r', ''))",
        ["*"] = "pwsh.exe -c [Console]::Out.Write($(Get-Clipboard -Raw).tostring().replace('`r', ''))",
        {{-  end }}
        {{- end }}
    },
    cache_enabled = 0,
}
